@tailwind base;
@tailwind components;

@layer components {
  .salonCard {
    @apply mt-12 p-3 w-full  max-w-sm    rounded-3xl  max-sm:mt-0 shadow-lg dark:shadow-slate-800 shadow-gray-300 bg-white dark:bg-black;
  }
  .salonImg {
    @apply rounded-full w-48 h-48  -mt-16 -ml-12  max-sm:rounded-xl  max-sm:mt-0 max-sm:ml-0 max-sm:w-full;
  }
  .salonBadge {
    @apply bg-blue-100 text-blue-800 h-6 text-xs font-semibold px-2 py-0.5 rounded ms-3;
  }
  .salonprof {
    @apply flex justify-between dark:bg-transparent dark:shadow-gray-700 bg-slate-50 shadow-md rounded-lg shadow-gray-400 h-auto w-full p-2 text-base font-semibold max-lg:text-sm;
  }
}

@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .input-dark {
    color-scheme: dark;
  }
}

.counter {
  counter-reset: step;
}

.counter .number:before {
  position: absolute;
  display: inline-flex;
  height: 2.25rem;
  width: 2.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 4px;
  border-color: hsl(var(--background));
  background-color: hsl(var(--muted));
  text-align: center;
  text-indent: -1px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-left: -50px;
  margin-top: -4px;
  counter-increment: step;
  content: counter(step);
}
body {
  /* background-color: black; */
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ffe100);
  border-radius: 6px;
}
.ribbon {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );

  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
}
.scrlltop {
  background: rgb(252, 210, 43) !important;

  background: radial-gradient(
    circle,
    rgb(246, 241, 200) 0%,
    rgb(250, 224, 80) 35%,
    rgb(232, 168, 6) 100%
  ) !important;

  bottom: 70px !important; /* Adjust bottom position */
  right: 20px !important;
  border-radius: 100% !important;
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: gray;
  margin-right: 5px;
  cursor: pointer;
}

.star.selected {
  background-color: yellow;
}
